.post, .comment {
    background: whitesmoke;
    border: 1px solid black;
    margin: 16px 0px;
}

.post-comments {
    margin: 16px;
}

.post-header, .comment-header {
    padding: 8px;
}

.post-header-author {

}

.post-header-timestamp, .comment-header-timestamp {
    float: right;
}

.post-text, .comment-text {
    padding: 8px;
    background: white;
}

.post-footer, .comment-footer {
    padding: 8px;
    overflow: auto;
}

.commendations {
    float: right;
}