{% extends "user.html" %}

{% block main %}
<div>
    <form>{% csrf_token %}
        {{ form }}
        <input type="submit" value="Search" />
    </form>

    {% if people %}
        <div class="people">
            <div class="container-fluid">
                {% for person in people %}
                    <div class="person" class="row vertical-align">
                        <a href="{% url "social:user-page" person.username %}">{{ person.display_name }}</a>
                        <button class="friend-add-button pull-right" aria-label="Send Friend Request">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    {% if request_list %}
        <div class="container-fluid">
        {% for friend_request in request_list %}
            <div>
            {{ friend_request.sender.display_name }} <button class="friend-accept-button">Accept</button>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if friend_list %}
        <div id="friend-list" class="container-fluid">
        {% for friend in friend_list %}
            {{ friend.display_name }}
        {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}