{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ user.username }}{% endblock %}

{% block scripts %}
    <script src="{% static "user-page.js" %}"></script>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Temu</a>
            </div>
            <div id="main-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% block navbar %}
                        <li><a href="#">Account</a></li>
                        <li><a href="{% url "social:people" username=user.username %}">People</a></li>
                        <li><a href="/signout/">Sign out <span class="sr-only">(current)</span></a></li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    <div id="container">
        <div id="sidebar" class="col-md-2">
            {% block sidebar %}
                {% if page_user %}
                    <div id="profile">
                        <div>
                        {{ page_user.display_name }}
                        </div>

                        {% if page_user != user %}
                            <button id="add-friend-button" data-userid="{{ page_user.id }}">Add</button>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

        <div id="main" class="col-md-8">
        {% block main %}
            <div id="wall">
                {% if page_user == user %}
                <div>
                    <form method="post">{%  csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Post" />
                    </form>
                </div>
                {% endif %}

                {% if posts %}
                    <div>
                        {% for post in posts %}
                            {% if post.parent  %}
                            <div>
                                <div class="post-header">
                                    <span class="post-header-author">
                                    {% if user.username == post.parent.author.username %}
                                        You
                                    {% else %}
                                        {{ post.parent.author.display_name }}
                                    {% endif %}
                                    </span>
                                    <span class="post-header-timestamp">
                                        {{ post.parent.post_time }}
                                    </span>
                                </div>
                                <div>{{ post.parent.post_text }}</div>
                                <div>
                            {% endif %}
                                <div class="post">
                                <div class="post-header">
                                    <span class="post-header-author">
                                    {% if user.username == post.author.username %}
                                        You
                                    {% else %}
                                        {{ post.author.display_name }}
                                    {% endif %}
                                    </span>
                                    <span class="post-header-timestamp">
                                        {{ post.post_time }}
                                    </span>
                                </div>
                                <div class="post-text">{{ post.post_text }}</div>
                                <div class="post-footer">
                                    <div id="{{ post.id }}-commendations" class="commendations">
                                        <span id="{{ post.id }}-commendation-count">{{ post.commendations.count }}</span>
                                        {% if post.commendations.count > 1%}
                                            users likes
                                        {% else %}
                                            user like
                                        {% endif %}
                                        this post.
                                    </div>
                                    {%  if not user in post.commendations.all %}
                                        <span id="{{ post.id }}-commends" class="commends" data-postid="{{ post.id }}">
                                            Commend
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="post-comments">
                                    <div id="{{ post.id }}-comment" class="comment-input container">
                                        <input id="{{ post.id }}-comment-input" type="textarea" row="1"/> <br />
                                        <input class="comment-submit" type="button" value="Post" data-postid="{{ post.id }}" data-csrftoken="{{ csrf_token }}"/>
                                    </div>
                                    <div id="{{ post.id }}-comments">
                                        {% for comment in comments %}
                                            {% if comment.post == post %}
                                                <div class="comment">
                                                    <div class="comment-header">
                                                        <span class="comment-header-author">
                                                        {% if user.username == comment.author.username %}
                                                            You
                                                        {% else %}
                                                            {{ comment.author.display_name }}
                                                        {% endif %}
                                                        </span>
                                                        <span class="comment-header-timestamp">
                                                            {{ comment.post_time }}
                                                        </span>
                                                    </div>
                                                    <div class="comment-text">{{ comment.post_text }}</div>
                                                    <div class="comment-footer">
                                                        <div id="{{ comment.id }}-commendations" class="commendations">
                                                            <span id="{{ comment.id }}-commendation-count">{{ comment.commendations.count }}</span>
                                                            {% if comment.commendations.count > 1%}
                                                                users likes
                                                            {% else %}
                                                                user like
                                                            {% endif %}
                                                            this post.
                                                        </div>
                                                        {%  if not user in comment.commendations.all %}
                                                            <span id="{{ comment.id }}-commends" class="commends" data-postid="{{ comment.id }}">
                                                                Commend
                                                            </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% if post.parent %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}