{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temu - {{ user.username }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'user-page-style.css' %}" />
</head>
<body>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{%  static 'user-page.js' %}"></script>
    <div id="navbar">
        <a href="/signout/">Sign out</a>
    </div>

    <div id="container">
        <div id="profile">
            <div>
            {{ user.display_name }}
            </div>

            <div>

            </div>
        </div>

        <div id="wall">
        <div>
            <form action='.' method="post">{%  csrf_token %}
                {{ form }}
                <br /><input type="submit" value="Post" />
            </form>
        </div>

        {% if posts %}
            <div>
                {% for post in posts %}
                <div class="post">
                    <div class="post-header">
                        <span class="post-header-author">
                        {% if user.username == post.author.username %}
                            You
                        {% else %}
                            {{ post.author.display_name }}
                        {% endif %}
                        </span>
                        <span class="post-header-timestamp">
                            {{ post.post_time }}
                        </span>
                    </div>
                    <div class="post-text">{{ post.post_text }}</div>
                    <div class="post-footer">
                        <span id="{{ post.id }}-commendations" class="commendations">
                            {{ post.commendations.count }}
                            {% if post.commendations.count > 1%}
                                users likes
                            {% else %}
                                user like
                            {% endif %}
                            this post.
                        </span>
                        {%  if not request.user in post.commendations.all %}
                            <span id="{{ post.id }}-commends" class="commends" data-postid="{{ post.id }}">
                                Commend
                            </span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>

    </div>
</body>
</html>